<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
        <!--
            Used to specify the default location to expand packages.
            See: nuget.exe help install
            See: nuget.exe help update

            In this example, %PACKAGEHOME% is an environment variable. On Mac/Linux,
            use $PACKAGE_HOME/External as the value.
        -->
        <add key="repositoryPath" value="%PACKAGEHOME%\External" />
  </config>
  <packageRestore>
        <!-- Allow NuGet to download missing packages -->
        <add key="enabled" value="True" />

        <!-- Automatically check for missing packages during build in Visual Studio -->
        <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="mat" value="https://mat-ocs.pkgs.visualstudio.com/_packaging/MAT/nuget/v3/index.json" />
    <add key="third_party" value="https://mat-ocs.pkgs.visualstudio.com/_packaging/Third-Party/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <mat>
        <add key="Username" value="tomas.neubauer@mclaren.com" />
        <add key="ClearTextPassword" value="dc5ooisr3aoi5mdrhtqoh2fovv4etfkhucsjwfv7ohw3llrjmnyq" />
    </mat>
    <third_party>
        <add key="Username" value="tomas.neubauer@mclaren.com" />
        <add key="ClearTextPassword" value="dc5ooisr3aoi5mdrhtqoh2fovv4etfkhucsjwfv7ohw3llrjmnyq" />
    </third_party>
</packageSourceCredentials>

</configuration>
